

/* ===============================
        Table of Content
        ----------------
  ----------------------------

  1. common css
  2. menu bar css
  3. banner part css
  4. after-war page round image

================================== */


/* =================================
        Common CSS 
=================================== */
@font-face{
    font-family: noto-reg;
    src: url(../fonts/NotoSansBengaliUI-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a,a:hover{
    display: inline-block;
    text-decoration: none;
}

span{
    display: inline-block;
}

ul li{
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

button:focus{
    outline: 0;
}




/* =================================
        menu bar css
=================================== */
.menuBar{
    padding: 40px 0;
}

.logo{
    width: 60px;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    border-radius: 40%;
}

.logo img{
    width: 100%;
}

.logo_title{
    font-size: 20px;
    display: inline-block;
    font-family: nato-reg;
    font-weight: bold;
    margin-left: 15px;
    vertical-align: middle;
    transition: all linear .2s;
    color: #707070;
    opacity: 0;

}

#menu_btn{
    width: 37px;
    height: 37px;
    border: 3px solid #707070;
    background: #fff;
    border-radius: 50%;
}

.btn-center{
    text-align: right !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuBar .container{
    position: relative;
}


.menu_list{
    position: absolute;
    right:0 ;
    top: 70px;
    text-align: right;
    z-index: 99;
    opacity: 0;
    transition: all linear .2s;
}

.menu_list ul li{
    line-height: 40px;
}

.menu_list ul li:first-child{
    padding-bottom: 40px;
}

.menu_list ul li a{
    font-size: 20px;
    font-weight: bold;
    color: #707070;
    font-family: nato-reg;
    transition: all linear .2s;

}

.menu_list ul li a:hover{
    color: #222;
}


/* =================================
        banner part css
=================================== */

.banner_part{
    width: 100%;
    height: 80vh;
    position: relative;
    transform: translate(-40px);
}

.banner_content{
    width: 1530px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.banner_part .row{
    align-content: center;
    height: 100%;
    align-items: center;
}

.banner_text{
    max-height: 900px;
    position: relative;
}



.banner_img{
    opacity: 0;
}


.banner_main_text{
    position: absolute;
    bottom: -30px;
    text-align: center;
    opacity: 0;

}

.home_line{
    opacity: 0;
}

.left_line{
    position: absolute;
    background: #707070;
    width: 250px;
    height: 3px;
    top: 54%;
    left: -275px;
}

.right_line{
    position: absolute;
    background: #707070;
    width: 250px;
    height: 3px;
    top: 54%;
    right: -275px;
}

.banner_text a{
    color: #3F3D44;
    font-size: 40px;
    font-family: nato-reg;
}

.banner_text a:hover{
    color: #222;
}

.banner_text .banner_left_link{
    position: absolute;
    left: 0;
    top: 45%;
    opacity: 0;
    transform: translateX(-150px);
}

.banner_text .banner_right_link{
    position: absolute;
    right: -180px;
    opacity: 0;
    top: 42%;
    transform: translateX(126px);
}



.banner_main_text h2{
    color: #3F3D44;
    font-size: 40px;
    font-family: nato-reg;

}

.banner_main_text p{
    color: #3F3D44;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: nato-reg;

}

.read_more_btn{
    font-size: 20px !important;
    font-weight: bold;
    color: #3F3D44 !important;
    transform: translateY(20px);
    font-family: nato-reg;
}



.read_more_btn:hover{
    color: #000;
}


/* =================================
     after-war page round image
=================================== */
.afWarMenu{
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.afterwar_round_image{
   
    position: fixed;
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
    width: 740px;
}


.image_layer_1{
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: black;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.image_layer_2{
    width: 720px;
    height: 690px;
    border-radius: 50%;
    background: #DEC7B4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_layer_3{
    width: 740px;
    height: 670px;
    border-radius: 50%;
    background: #ECE2DA;
    position: relative;
}

.after_war_content{
    opacity: 0;
    padding-top: 200px;
}

.afWarMenu .menu_list ul li a{
    color: #ddd !important;
}


.afWarMenu .menu_list ul li a:hover{
    color: #fff !important;
}

.right_content{
    position: fixed;
    z-index: 999;
    color: #fff;
    font-family: nato-reg;
    max-width: 320px;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    opacity: 0;
}

.right_content p{
    font-size: 18px;
}


.right_content h2{
    font-size: 20px;
    font-weight: bold;
}

.right_content a{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
    position: relative;
}

.right_content a:after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 350px;
    left: 0;
    background: #fff;
    height: 3px;
}
